    <h2>Articles List</h2>
    <a ui-sref="^.create" class="button">Create article</a>
    <label>Filtrar: <input ng-model="searchArticle"></label>
    <table>
        <tr>
            <td>Title</td>
            <td>Updated At</td>
            <td>Slug</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="item in articles.articles | orderBy:'-fullTitle':true | filter:searchArticle">
            <td>
                <a ui-sref="^.edit({id: item.id})">{{item.fullTitle}}</a>
            </td>
            <td>{{item.updatedAt|date}}</td>
            <td>{{item.slug}}</td>
            <td>
                <a ui-sref="^.view({id: item.id})">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                <a href="" ng-click="articles.remove($index)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
    </table>
